@font-face {
  font-family: 'Excon';
  src: url('./assets/fonts/Excon-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excon';
  src: url('./assets/fonts/Excon-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excon';
  src: url('./assets/fonts/Excon-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excon';
  src: url('./assets/fonts/Excon-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excon';
  src: url('./assets/fonts/Excon-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --bg-color: #ffffff;
  /* White background as requested */
  --text-primary: #111111;
  --text-secondary: #666666;

  /* Fonts */
  --font-display: 'Excon', sans-serif;
  --font-body: 'Inter', system-ui, sans-serif;

  /* Spacing */
  --padding-x: 5%;
  /* Fluid padding */
  --padding-y: 2rem;
  --header-height: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  margin: 0;
  line-height: 0.9;
}


button {
  font-family: var(--font-display);
  /* Button uses Excon */
}